body{
    margin:0;
    overflow:hidden;
    background:#ffffff;
}

#game{
    position:relative;
    width:100vw;
    height:100vh;
    overflow:hidden;
    touch-action: none;
}

#world{
    position:absolute;

    width: 2000px;;
    height: 2000px;

    background:url("../img/pueblo.png");
    background-size:cover;
}

 /*#fondo{
    position:absolute;

    width:3000px;
    height:2000px;

    background-image:url("fondo.jpg");
    background-size:cover;

    left:0;
    top:0;
}*/

#player{
    position: absolute;

    width: 128px;
    height: 128px;

    
    background-repeat: no-repeat;

}


#npc{
    position:absolute;

    width:80px;
    height:80px;

    background:blue;

    left:1000px;
    top:500px;
}
